<div class="partial" id="user-index" ng-show="permissions.user.view()">
  <ul>
    <li ng-repeat="user in users">
      {{user.username}}
      <a ng-show="permissions.user.show(user._id)" href="{{urls.user.show(user._id)}}">Show</a>
      <a ng-show="permissions.user.edit(user._id)" href="{{urls.user.edit(user._id)}}">Edit</a>
      <a ng-show="permissions.user.delete(user._id)" href="{{urls.user.delete(user._id)}}">Delete</a>
    </li>
  </ul>
  <p ng-show="permissions.user.create()"><a href="{{urls.user.new()}}">New</a></p>
</div>
